// Featured Project Row
.row.gx-0.mb-4.mb-lg-5.align-items-center
  .col-xl-8.col-lg-7
    img.img-fluid.mb-3.mb-lg-0(src='images/bg-masthead.jpg' alt='...')
  .col-xl-4.col-lg-5
    .featured-text.text-center.text-lg-left
      h4 Shoreline
      p.text-black-50.mb-0
        | Grayscale is open source and MIT licensed. This means you can use it for any project - even commercial projects! Download it, customize it, and publish your website!
// Project One Row
.row.gx-0.mb-5.mb-lg-0.justify-content-center
  .col-lg-6
    img.img-fluid(src='images/demo-image-01.jpg' alt='...')
  .col-lg-6
    .bg-black.text-center.h-100.project
      .d-flex.h-100
        .project-text.w-100.my-auto.text-center.text-lg-left
          h4.text-white Misty
          p.mb-0.text-white-50
            | An example of where you can put an image of a project, or anything else, along with a description.
          hr.d-none.d-lg-block.mb-0.ms-0
// Project Two Row
.row.gx-0.justify-content-center
  .col-lg-6
    img.img-fluid(src='images/demo-image-02.jpg' alt='...')
  .col-lg-6.order-lg-first
    .bg-black.text-center.h-100.project
      .d-flex.h-100
        .project-text.w-100.my-auto.text-center.text-lg-right
          h4.text-white Mountains
          p.mb-0.text-white-50
            | Another example of a project with its respective description. These sections work well responsively as well, try this theme on a small screen!
          hr.d-none.d-lg-block.mb-0.me-0